div.social-login
    div.github-login
        a(href="/users/github/start").github__btn.github__btn--github 
            i.fab.fa-github
            |  Continue with Github&rarr;
    div.kakao-login
        a(href="/users/kakao/start").kakao__btn.kakao__btn--kakao 
            i.fas.fa-comment
            |  Continue with Kakao Talk! &rarr;
